<launch>
  <!-- 开启机器人底层相关节点 同时开启导航功能 -->
  <include file="$(find turn_on_wheeltec_robot)/launch/turn_on_wheeltec_robot.launch">
    <!-- 关闭rtab提供的定位补偿，使用amcl进行定位补偿 -->
    <arg name="odom_frame_id" value="odom"/>
    <arg name="navigation" value="true"/>
  </include>

  <!-- turn on lidar开启雷达  -->
  <include file="$(find turn_on_wheeltec_robot)/launch/wheeltec_lidar.launch" />

  <include file="$(find turn_on_wheeltec_robot)/launch/include/amcl.launch">
    <arg name="use_map_topic" value="true"/>
    <arg name="map_topic" value="/rtabmap/grid_map"/>
  </include>

  <!-- 开启摄像头 -->
  <include file="$(find turn_on_wheeltec_robot)/launch/wheeltec_camera.launch" />

  <!-- Add depth2laser1 node -->
  <node pkg="tf" type="static_transform_publisher" name="base_to_depth2laser1" args="0.34 0.00 0.5 0 0 0 base_footprint laser1 100" />
  <node name="depth2laser1" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" args="standalone depthimage_to_lasersacn/DepthImageToLaserScanNodelet">
    <remap from="image" to="/camera/depth/image"/>
    <remap from="camera_info" to="/camera/depth/camera_info"/>
    <!-- Points closer than this value are not recognized -->
    <param name="range_min" type="double" value="0.45"/>
    <!-- Points farther than this value are not recognized -->
    <param name="range_max" type="double" value="4"/>
    <!-- Which row of point cloud to capture, range is 0-475, preliminary testing shows that the scan data is a collection of point clouds near scan_height, where 0 is the highest height -->
    <param name="scan_height" type="int" value="10"/>
    <!-- Scan data TF name -->
    <param name="output_frame_id" type="str" value="laser1"/>
    <!-- Output scan data topic name -->
    <remap from="scan" to="/scan"/>
  </node>

  <!-- Add depth2laser2 node -->
  <node pkg="tf" type="static_transform_publisher" name="base_to_depth2laser2" args="0.34 0.00 0.1 0 0 0 base_footprint laser2 100" />
  <node name="depth2laser2" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" args="standalone depthimage_to_lasersacn/DepthImageToLaserScanNodelet">
    <remap from="image" to="/camera/depth/image"/>
    <remap from="camera_info" to="/camera/depth/camera_info"/>
    <param name="range_min" type="double" value="0.45"/>
    <param name="range_max" type="double" value="4"/>
    <param name="scan_height" type="int" value="250"/>
    <param name="output_frame_id" type="str" value="laser2"/>
    <remap from="scan" to="/scan2"/>
  </node>

  <!-- rtabmap -->
  <group ns="rtabmap">
    <arg name="database_path" default="~/.ros/rtabmap.db"/>
    <!-- 3D map localization, disables map saving -->
    <arg name="localization" default="true"/>
    <arg if="$(arg localization)" name="rtabmap_args" default=""/>
    <arg unless="$(arg localization)" name="rtabmap_args" default="-d"/>

    <!-- Data synchronization node subscribing to RGB and depth images and outputting RGB-D images -->
    <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_ros/rgbd_sync" output="screen">
      <remap from="rgb/image" to="/camera/rgb/image_raw"/>
      <remap from="depth/image" to="/camera/depth/image"/>
      <remap from="rgb/camera_info" to="/camera/rgb/camera_info"/>
      <remap from="rgbd_image" to="rgbd_image"/> <!-- output -->

      <!-- Set to true for unsynchronized camera topics (e.g., false for kinectv2, zed, realsense; true for xtion, kinect360) -->
      <param name="approx_sync" value="true"/>
    </node>

    <!-- rtabmap node subscribing to RGB-D images and outputting the map -->
    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="$(arg rtabmap_args)">
      <param name="frame_id" type="string" value="base_footprint"/>
      <param name="database_path" type="string" value="$(arg database_path)"/>

      <!-- Do not subscribe to RGB and depth images, subscribe to rgbd data instead -->
      <param name="subscribe_depth" type="bool" value="false"/>
      <param name="subscribe_rgb" type="bool" value="false"/>
      <param name="subscribe_rgbd" type="bool" value="true"/>

      <remap from="odom" to="/odom"/>
      <remap from="rgbd_image" to="rgbd_image"/>
      <param name="queue_size" type="int" value="10"/>

      <!-- RTAB-Map's parameters -->
      <param name="RGBD/AngularUpdate" type="string" value="0.01"/>
      <param name="RGBD/LinearUpdate" type="string" value="0.01"/>
      <param name="RGBD/OptimizeFromGraphEnd" type="string" value="false"/>

      <!-- Localization mode -->
      <param if="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="false"/>
      <param unless="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="true"/>
    </node>
  </group>

  <!-- Fix the odom_combined to map, connect the TF tree -->
  <node pkg="tf" type="static_transform_publisher" name="odom_to_map" args="0 0 0 0 0 0 map odom_combined 100" />

  <!-- MarkerArray functionality node -->
  <node name='send_mark' pkg="turn_on_wheeltec_robot" type="send_mark.py">
  </node>

</launch>

